boto3==1.34.136
eyed3==0.9.7
fastapi==0.111.0
ffmpeg-python==0.2.0
hmmlearn==0.3.2
imblearn==0.0
matplotlib==3.9.2
mutagen==1.47.0
openai==1.34.0
pydantic==2.7.3
pydantic-settings==2.4.0
plotly==5.22.0
pyAudioAnalysis==0.3.14
pydub==0.25.1
scipy==1.10.1
tensorflow==2.17.0
tf-keras==2.17.0
transformers==4.43.3
uvicorn==0.30.1
