accelerate==0.34.0
asyncio==3.4.3
eyed3==0.9.7
fastapi==0.112.2
ffmpeg-python==0.2.0
hmmlearn==0.3.2
imblearn==0.0
matplotlib==3.9.1
mutagen==1.47.0
openai==1.52.2
pydantic==2.9.2
pydantic-settings==2.6.0
plotly==5.23.0
pyAudioAnalysis==0.3.14
pydub==0.25.1
scipy==1.14.1
tensorflow==2.18.0
tf-keras==2.18.0
transformers==4.46.0
uvicorn==0.30.6
