accelerate==1.10.0
asyncio==3.4.3
eyed3==0.9.8
fastapi==0.116.1
ffmpeg-python==0.2.0
hmmlearn==0.3.3
imblearn==0.0
matplotlib==3.10.7
mutagen==1.47.0
openai==1.99.9
pydantic==2.11.7
pydantic-settings==2.10.1
plotly==6.3.0
pyAudioAnalysis==0.3.14
pydub==0.25.1
scipy==1.15.2
tensorflow==2.20.0
tf-keras==2.19.0
transformers==4.53.0
uvicorn==0.34.0
